In [1]:
import pandas as pd
import numpy as np

In [20]:
df=pd.read_csv("old/2_gs_edited.csv")
df

,Run,A,A.1,B,B.1,C,C.1,DRB1,DRB1.1,DQB1,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,ERR188021,01:01/01:04/01:22/01:32/01:34/01:37,24:02/24:09/24:11/24:40/24:76/24:79/24:83,41:02:00,1/2/1900 9:01,6:02,17:01/17:02/17:03,13:03,4:07,03:01/03:09/03:19/03:21/03:22/03:24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ERR188023,02:01/02:09/02:43/02:66/02:75/02:83/02:89/02:9...,30:01/30:24,13:02,56:01/56:24,01:02/01:25,6:02,4:01,7:01,02:01/02:02/02:04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ERR188025,03:01/03:20/03:21/03:26/03:37/03:45,31:01/31:14/31:23,44:02/44:19/44:27/44:66,51:01/51:11/51:30/51:32/51:48/51:51,01:02/01:25,07:04/07:11,16:01,13:01,5:02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ERR188026,02:05/02:17,24:02/24:09/24:11/24:40/24:76/24:79/24:83,15:17,55:01:00,01:02/01:25,07:01/07:06/07:18/07:52,11:01,13:02,03:01/03:09/03:19/03:21/03:22/03:24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ERR188027,1:01,2:01,8:01,57:01:00,07:01/07:06,6:02,3:01,7:01,2:01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,ERR205017,30:02:00,30:02:00,15:03,57:03:00,2:02,8:02,13:03,7:01,2:01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
486,ERR205019,24:24:00,74:01:00,14:03,58:01:00,7:01,8:02,13:01,7:01,5:01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
487,ERR205021,03:01/03:20/03:21/03:26/03:37/03:45,33:01:00,15:10,58:01/58:11,3:02,8:04,3:01,13:01,03:01/03:09/03:19/03:21/03:22/03:24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
488,ERR205022,1:01,11:01,51:01:00,50:01:00,15:02,6:02,4:07,7:01,3:01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
489,ERR205023,2:01,11:01,15:01,51:01:00,3:04,15:02,4:01,4:04,3:01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df.dropna(how='all', axis=1, inplace=True)
df

,Run,A,A.1,B,B.1,C,C.1,DRB1,DRB1.1,DQB1,DQB1.1
0,ERR188021,01:01/01:04/01:22/01:32/01:34/01:37,24:02/24:09/24:11/24:40/24:76/24:79/24:83,41:02:00,1/2/1900 9:01,6:02,17:01/17:02/17:03,13:03,4:07,03:01/03:09/03:19/03:21/03:22/03:24,03:01/03:09/03:19/03:21/03:22/03:24
1,ERR188023,02:01/02:09/02:43/02:66/02:75/02:83/02:89/02:9...,30:01/30:24,13:02,56:01/56:24,01:02/01:25,6:02,4:01,7:01,02:01/02:02/02:04,3:02
2,ERR188025,03:01/03:20/03:21/03:26/03:37/03:45,31:01/31:14/31:23,44:02/44:19/44:27/44:66,51:01/51:11/51:30/51:32/51:48/51:51,01:02/01:25,07:04/07:11,16:01,13:01,5:02,6:03
3,ERR188026,02:05/02:17,24:02/24:09/24:11/24:40/24:76/24:79/24:83,15:17,55:01:00,01:02/01:25,07:01/07:06/07:18/07:52,11:01,13:02,03:01/03:09/03:19/03:21/03:22/03:24,06:04/06:34
4,ERR188027,1:01,2:01,8:01,57:01:00,07:01/07:06,6:02,3:01,7:01,2:01,3:03
...,...,...,...,...,...,...,...,...,...,...,...
485,ERR205017,30:02:00,30:02:00,15:03,57:03:00,2:02,8:02,13:03,7:01,2:01,2:01
486,ERR205019,24:24:00,74:01:00,14:03,58:01:00,7:01,8:02,13:01,7:01,5:01,2:01
487,ERR205021,03:01/03:20/03:21/03:26/03:37/03:45,33:01:00,15:10,58:01/58:11,3:02,8:04,3:01,13:01,03:01/03:09/03:19/03:21/03:22/03:24,6:03
488,ERR205022,1:01,11:01,51:01:00,50:01:00,15:02,6:02,4:07,7:01,3:01,2:01
489,ERR205023,2:01,11:01,15:01,51:01:00,3:04,15:02,4:01,4:04,3:01,3:02

In [17]:
test=df['A'][485]
len(test)

8

In [22]:
for col in df.columns[df.columns!='Run']:
    if '.' in col:
        allele = col.split('.')[0]
        for i in range(len(df[col])):
            if '/' in df[col][i]:
                sample_list=df[col][i].split('/')
                for j in range(len(sample_list)):
                    value=allele+'*' + sample_list[j]
                    sample_list[j] = value
                string='/'.join(sample_list)
                df[col][i]=string
            elif len(df[col][i])==4:
                df[col][i]=allele+'*0'+df[col][i]
            else:
                df[col][i]=allele+'*'+ df[col][i]
    else: 
        for i in range(len(df[col])):
            if '/' in df[col][i]:
                sample_list=df[col][i].split('/')
                for j in range(len(sample_list)):
                    value=col+'*' + sample_list[j]
                    sample_list[j] = value
                string='/'.join(sample_list)
                df[col][i]=string
            elif len(df[col][i])==4:
                df[col][i]=col+'*0'+df[col][i]    
            else:
                 df[col][i]=col+'*'+ df[col][i]

In [83]:
df['A'][1:7]

1    A*02:01/A*02:09/A*02:43/A*02:66/A*02:75/A*02:8...
2      A*03:01/A*03:20/A*03:21/A*03:26/A*03:37/A*03:45
3                                      A*02:05/A*02:17
4                                               A*1:01
5    A*02:01/A*02:09/A*02:43/A*02:66/A*02:75/A*02:8...
6      A*03:01/A*03:20/A*03:21/A*03:26/A*03:37/A*03:45
Name: A, dtype: object

In [23]:
df

,Run,A,A.1,B,B.1,C,C.1,DRB1,DRB1.1,DQB1,DQB1.1
0,ERR188021,A*01:01/A*01:04/A*01:22/A*01:32/A*01:34/A*01:37,A*24:02/A*24:09/A*24:11/A*24:40/A*24:76/A*24:7...,B*41:02:00,B*1/B*2/B*1900 9:01,C*06:02,C*17:01/C*17:02/C*17:03,DRB1*13:03,DRB1*04:07,DQB1*03:01/DQB1*03:09/DQB1*03:19/DQB1*03:21/DQ...,DQB1*03:01/DQB1*03:09/DQB1*03:19/DQB1*03:21/DQ...
1,ERR188023,A*02:01/A*02:09/A*02:43/A*02:66/A*02:75/A*02:8...,A*30:01/A*30:24,B*13:02,B*56:01/B*56:24,C*01:02/C*01:25,C*06:02,DRB1*04:01,DRB1*07:01,DQB1*02:01/DQB1*02:02/DQB1*02:04,DQB1*03:02
2,ERR188025,A*03:01/A*03:20/A*03:21/A*03:26/A*03:37/A*03:45,A*31:01/A*31:14/A*31:23,B*44:02/B*44:19/B*44:27/B*44:66,B*51:01/B*51:11/B*51:30/B*51:32/B*51:48/B*51:51,C*01:02/C*01:25,C*07:04/C*07:11,DRB1*16:01,DRB1*13:01,DQB1*05:02,DQB1*06:03
3,ERR188026,A*02:05/A*02:17,A*24:02/A*24:09/A*24:11/A*24:40/A*24:76/A*24:7...,B*15:17,B*55:01:00,C*01:02/C*01:25,C*07:01/C*07:06/C*07:18/C*07:52,DRB1*11:01,DRB1*13:02,DQB1*03:01/DQB1*03:09/DQB1*03:19/DQB1*03:21/DQ...,DQB1*06:04/DQB1*06:34
4,ERR188027,A*01:01,A*02:01,B*08:01,B*57:01:00,C*07:01/C*07:06,C*06:02,DRB1*03:01,DRB1*07:01,DQB1*02:01,DQB1*03:03
...,...,...,...,...,...,...,...,...,...,...,...
485,ERR205017,A*30:02:00,A*30:02:00,B*15:03,B*57:03:00,C*02:02,C*08:02,DRB1*13:03,DRB1*07:01,DQB1*02:01,DQB1*02:01
486,ERR205019,A*24:24:00,A*74:01:00,B*14:03,B*58:01:00,C*07:01,C*08:02,DRB1*13:01,DRB1*07:01,DQB1*05:01,DQB1*02:01
487,ERR205021,A*03:01/A*03:20/A*03:21/A*03:26/A*03:37/A*03:45,A*33:01:00,B*15:10,B*58:01/B*58:11,C*03:02,C*08:04,DRB1*03:01,DRB1*13:01,DQB1*03:01/DQB1*03:09/DQB1*03:19/DQB1*03:21/DQ...,DQB1*06:03
488,ERR205022,A*01:01,A*11:01,B*51:01:00,B*50:01:00,C*15:02,C*06:02,DRB1*04:07,DRB1*07:01,DQB1*03:01,DQB1*02:01
489,ERR205023,A*02:01,A*11:01,B*15:01,B*51:01:00,C*03:04,C*15:02,DRB1*04:01,DRB1*04:04,DQB1*03:01,DQB1*03:02

In [24]:
df.to_csv("2_gs.csv")